*.o
*.in
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
biosdevname.spec.fedora
biosdevname.spec.suse
config.h
config.log
config.status
configure
src/.deps/
src/.dirstamp
src/biosdevname
src/biosdevnameS
src/dmidecode/.deps/
src/dmidecode/.dirstamp
stamp-h1
version
.pc
