Source: biosdevname
Section: misc
Priority: optional
Maintainer: Rudy Gevaert <Rudy.Gevaert@UGent.be>
Build-Depends: debhelper (>= 5), autotools-dev, pciutils-dev, pciutils, udev
Standards-Version: 3.7.2

Package: biosdevname
Architecture: i386 amd64 ia64
Depends: ${shlibs:Depends}, udev
Description: biosdevname in its simplest form takes a kernel device name 
 as an argument, and returns the BIOS-given name it "should" be.  
 .
 This is necessary on systems where the BIOS name for a given device 
 (e.g. the label on the chassis is "Gb1") doesn't map directly and 
 obviously to the kernel name (e.g. eth0).
 .
 This also works as a straight udev rule, which is provided.
 .
 Home Page: http://linux.dell.com/biosdevname/

