Source: biosdevname
Section: misc
Priority: optional
Maintainer: Daniel Jared Dominguez <Jared_Dominguez@Dell.com>
Uploaders: Colin Watson <cjwatson@debian.org>, Kamal Mostafa <kamal@whence.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, libpci-dev
Standards-Version: 3.9.5
Homepage: http://linux.dell.com/biosdevname/
Vcs-Git: git://linux.dell.com/biosdevname.git
Vcs-Browser: http://linux.dell.com/git/biosdevname.git

Package: biosdevname
Architecture: i386 amd64 ia64
Depends: ${shlibs:Depends}, ${misc:Depends}, udev
Description: apply BIOS-given names to network devices
 biosdevname in its simplest form takes a kernel device name 
 as an argument, and returns the BIOS-given name it "should" be.  
 .
 This is necessary on systems where the BIOS name for a given device 
 (e.g. the label on the chassis is "Gb1") doesn't map directly and 
 obviously to the kernel name (e.g. eth0).
 .
 This also works as a straight udev rule, which is provided.
 .
 Home Page: http://linux.dell.com/biosdevname/

Package: biosdevname-udeb
Package-Type: udeb
Section: debian-installer
Architecture: i386 amd64 ia64
Depends: ${shlibs:Depends}, ${misc:Depends}, udev-udeb
Description: apply BIOS-given names to network devices
